@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Merriweather', serif; */
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../First-assingment/resources/BannerImage.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 1320px;
    margin: 0 auto;
}

.container {
    /* background-size: 1000px; */
    width: 82%;
    margin: 50px auto 120px auto;
    height: 600px;
}


.container .bannerheading1 {
    text-align: center;
    padding-top: 180px;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    line-height: 90px;
}

.bannerheading2 {
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 900;
    padding-bottom: 30px;
    line-height: 65px;
    letter-spacing: 5px;
}

.discountsection {
    text-align: center;
}

.discountpercent {
    color: #F00;
    font-size: 88px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 45px;
}

.discountdetails {
    color: #F00;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 20px;
}

.discountcetagories {
    color: #070211;
    font-family: Inter;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 45px;
}

.discountimg {
    height: 500px;
}

.party-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../First-assingment/resources/Vectorrr.png');
    /* background-position: center; */
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 120px auto;
    display: flex;
    border-radius: 15px;
}

.banner-container {
    width: 82%;
    margin: 0 auto;

}

.full-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.full-banner .party-text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-bottom: 25px;
}

.party-text .pera {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    padding-bottom: 49px;
    line-height: 30px;
}

.full-banner .party-img img {
    width: 300px;
    vertical-align: middle;
}

.party-btn {
    margin-left: 50px;
    padding: 10px 20px;
    background: pink;
    color: rgb(6, 6, 48);
    border: none;
    border-radius: 5px;
}

/* address section */
.place-container {
    background-color: #FFEBEB;
    height: 400px;
    width: 1320px;
    margin: 0 auto;

}

.place .place-container {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
    margin-bottom: 120px;
    border-radius: 15px;

}

.address-color {
    color: #F00;
}

.primary-btn {
    background: #F00;
    color: #FFF;
    border-radius: 8px;
    border: none;
    padding: 16px 32px;
    margin-top: 48px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    text-transform: uppercase;
}

/* coming-soon section start*/
.coming-soon-container {
    display: flex;
    align-items: center;
    width: 1320px;
    margin: 0 auto;
    gap: 100px;
}

.coming-soon-container .coming-soon-content * {
    margin-bottom: 20px;
}

.coming-soon-content {
    width: 393px;
    align-items: center;
}

.coming-soon-content h6 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.coming-soon-content h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.coming-soon-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.coming-soon-img img {
    border: 15px solid red;
    padding: 35px;
    border-radius: 50%;
}

.coming-soon-right-content {
    width: 400px;
    align-items: center;
}

.coming-soon-right-content * {
    margin-top: 20px;
    margin-left: 50px;
}

.coming-soon-right-content h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.coming-soon-right-content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

/* holidays sale section */

.holiday-text {
    text-align: center;
    margin: 120px auto;
}

.holiday-text * {
    margin-bottom: 30px;
}

.holiday-text h6 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holiday-text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    width: 1000px;
    margin: 0 auto;
}

.holiday-img {
    display: flex;
    width: 1320px;
    margin: 0 auto;
}

.red-img {
    width: 1320px;
    margin: 0 auto;
    bottom: 20px;
    vertical-align: ;
}

/* item section */
.item-section{
    margin-top: 120px;
    margin-bottom: 120px;
}
.item-section-text {
    width: 1320px;
    margin: 0 auto;
}
.item-section-text *{
    padding-bottom: 26px;
}

.item-section-text h6 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.item-section-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.item-section-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.item-section-one {
    display: flex;
    width: 1320px;
    margin: 20px auto;
    gap: 20px;
}

.item-section-two {
    display: flex;
    width: 1320px;
    margin: 20px auto;
    gap: 20px;
}